.container {
	background: #eee;
  width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

section.corsage {
	background: #eee;
  width: 710px;
	margin-left: 20px;
	margin-right: 20px;
}

body {
	background: #fafafa;
	color: #444;
	font-size: 20px;
}

header.site {
	display: inline-block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #444;
}

section.sitename {
	font-family: 'BebasNeueRegular', "HelveticaNeue-CondensedBold", "Helvetica Neue Bold Condensed", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
	font-size: 120px;
	background: #eee;
	letter-spacing: 50px;
	font-stretch: condensed;
	text-align: center;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #444;
}

section.sitename a:hover {
		border-bottom-style: none;
	  color: #444;
}

section.sitename a {
	color: #444;
}

section.sitenamesubtitle {
}

header {
	width: 100%;
}

header.post h1, section.title h1, header.imprint h1, header.about h1, header.archives h1 {
	/* @font-face, helvetic neue condensed bold or bust! */
	font-family: 'BebasNeueRegular', "HelveticaNeue-CondensedBold", "Helvetica Neue Bold Condensed", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
	font-stretch: condensed;
	font-style: bold;
	text-align: left;
	text-transform: uppercase; 
	color: #444;
	font-size: 60px;
}

header.post.subtitle, footer.post{
	display: inline-block;
}


header.archives h1, header.tagged-posts h1, h1 {
	text-transform: none;
	font-size: 60px;
}

article.post {
	margin-top: 13px;
}

article.post p, article.post li {
	font-size: 26px;
}

.comment-counter, .tags, .date {
		vertical-align: top;
	 	line-height: 43px;
		width: 32.5%;
		display: inline-block;
}

.comment-counter {
	text-align: center;
}

.tags {
	text-align: left;
}

.date {
	text-align: right;
}

section.archive-entry {
	display: inline-block;
}

section.archive-entry.title {
	float: left;
	text-align: left;
	width: 80%;
}
section.archive-entry.date {
	float: right;
	text-align: right;
	width: 20%;
}

section.post.date {
	float: right;
}

section.date {
}

section.tags {
}

article.post p, article.post li, section.content , header.post p, body {
		/* Traditional Garamond-based serif stack */
		font-family: "CrimsonRoman", "Palatino Linotype", "Palatino", "Palladio", "URW Palladio L", "Book Antiqua", "Baskerville", "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", "Georgia", serif;
		font-size: 20px;
		text-align: justify;
}

section.post.content {
	margin: 0 62px;
}

section.post.content p:first-child:first-letter {
  font-size: 70px;
  float: left;
  margin-top: 10px;
	color: green;
}

section.comments {
	font-size: 20px;
	color: #888;
}

section.share-buttons{
	text-align: center;
}

section h1 {
  font-size: 40px;
}

a {
  color: #f06;
  text-decoration: none;
}

nav a, section.archives a, header.post.title a {
  color: #444;
  text-decoration: none;
}

section.archives a:hover, header.post.title a:hover {
	border-bottom-style: none;
  color: #f06;
}

a:hover {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #f06;
  color: #444;
}

hr.thin {
	height: 1px;
	border: 0;
	color: #F06;
	background-color: #F06;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
}

/* navigation */

nav.navigate {
	float: left;
}

nav.connect {
	float: right;
}

nav.container {
	width: 710px;
  white-space: nowrap;
  display: inline-block;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

code {
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
}

section.comments {
  width: 75%;
	margin-left: auto;
	margin-right: auto;
}

footer {
	color: #AAA;
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	width: 100%;
	border-top-style: solid;
	border-top-color: #444;
	border-top-width: 1px;
}

/*HTML5 @font-face part */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on July 6, 2010 02:23:31 PM America/New_York */

@font-face {
    font-family: 'ImpactLabelRegular';
    src: url('/css/fonts/impactlabel/Impact_label-webfont.eot');
    src: local('m'), url('/css/fonts/impactlabel/Impact_label-webfont.woff') format('woff'), url('/css/fonts/impactlabel/Impact_label-webfont.ttf') format('truetype'), url('/css/fonts/impactlabel/Impact_label-webfont.svg#webfont1mn3ExTr') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ImpactLabelReversedRegular';
    src: url('/css/fonts/impactlabel/Impact_label_reversed-webfont.eot');
    src: local('mi'), url('/css/fonts/impactlabel/Impact_label_reversed-webfont.woff') format('woff'), url('/css/fonts/impactlabel/Impact_label_reversed-webfont.ttf') format('truetype'), url('/css/fonts/impactlabel/Impact_label_reversed-webfont.svg#webfontst6m7QfC') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 19, 2011 04:16:32 PM America/New_York */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/css/fonts/BebasNeue-webfont.eot');
    src: url('/css/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/css/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/css/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 20, 2011 12:53:32 PM America/New_York */

@font-face {
    font-family: 'CrimsonRoman';
    src: url('/css/fonts/Crimson-Roman-webfont.eot');
    src: url('/css/fonts/Crimson-Roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/Crimson-Roman-webfont.woff') format('woff'),
         url('/css/fonts/Crimson-Roman-webfont.ttf') format('truetype'),
         url('/css/fonts/Crimson-Roman-webfont.svg#CrimsonRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

